{% extends "base.html" %}


{% load static %}

{% block navbar %} 
    <li class="active"><a href="/logins">Informations</a></li>
    {% if perms.logins.add_info %}
        <li><a href="/logins/create">Create Information</a></li>
    {% endif %}
    {% if perms.logins.change_info %}
        <li><a href="/logins/{{ info_details.id }}/edit/">Edit</a></li>
    {% endif %}
    {% if perms.logins.delete_info %}
        <li><a href="/logins/{{ info_details.id }}/delete/">Delete</a></li>
    {% endif %}
        <li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
    <h1 align ="center">{{ info_details.title }}</h1>
    <br>
    <table class="table table-hover table-bordered" border = "1">

        <tr>
            <th>Department</th>   
            <td>{% for info_details in info_details.department.all %}
            {{ info_details }},
            {% endfor %}</td>
        </tr>
        <tr>
            <th>Game</th>   
            <td>{% for info_details in info_details.game.all %}
            {{ info_details }},
            {% endfor %}</td>
        </tr>

            <tr>
                <th>Name</th>
                <td>{{ info_details.name }}</td>
            </tr>
        

        
            <tr>
                <th>Password</th>
                <td>{{ info_details.password }}</td>
            </tr>
        

        
            <tr>
                <th>Comments</th>
                <td>{{ info_details.comments }}</td>
            </tr>
        

        
            <tr>
                <th>Url</th>
                <td>{{ info_details.url }}</td>
            </tr>
        
    </table>

       

{% endblock %}



