{% extends "base.html" %}


{% block navbar %} 
    <li><a href="/logins">Informations</a></li>
    {% if perms.logins.add_info %}
        <li><a href="/logins/create">Create Information</a></li>
    {% endif %}
        <li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}

<style>

    .box {
    width:300px;
    height:300px;
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:50%;
    left:50%;
} 

    #search_1 {
    position: relative;
    left: 20px;
    top: 0;
    z-index: 1000;
    width: 160px;
    margin: 0;
}
    
    #list {
        position: absolute;
        top: 235px;
    }
</style>
<div id = "search_1">
    <h3>Search</h3>
    {% csrf_token %}
    <input type="text" id="search" name="search" />
    <ul id="search-results">
    </ul>
</div>

<div class = "box" id = "list" >
    <h4 align = "center">Name of the entry</h4>
    {% if info_list.count > 0 %}
        {% for info in info_list %}
            <table class="table table-hover table-bordered table-condensed" border = "1">
                <tr>
                    <th>Department</th>   
                    <td><a href="/logins/{{ info.id }}/">{{ info.organization_name }}</a></td>
                </tr>
            </table>
        {% endfor %}
    {% else %}
        <p>No information is available.</p>
    {% endif %}
</div>



{% endblock %}

        <table class="table table-hover box" border = "1">
                <tr>
                    <th>Game</th>   
                    <td><a href="/logins/{{ info.id }}/">{{ info.organization_name }}</a></td>
                </tr>
            </table>



