{% extends "base.html" %}


{% block navbar %} 
    <li><a href="/logins">Informations</a></li>
    {% if perms.logins.add_info %}
        <li><a href="/logins/create">Create Information</a></li>
    {% endif %}
        <li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}

<style>

    .box {
    width:300px;
    height:300px;
    
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:50%;
    left:50%;
} 
</style>

<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search" />

<ul id="search-results">

</ul>

<div class = "box">
    {% if info_list.count > 0 %}
        {% for info in info_list %}
            <table class="table table-hover center" border = "1" >
                <tr>
                    <th>Department</th>   
                    <td><a href="/logins/{{ info.id }}/">{{ info.organization_name }}</a></td>
                </tr>
            </table>
        {% endfor %}
    {% else %}
        <p>No information is available.</p>
    {% endif %}
</div>

{% endblock %}

        <table class="table table-hover box" border = "1">
                <tr>
                    <th>Game</th>   
                    <td><a href="/logins/{{ info.id }}/">{{ info.organization_name }}</a></td>
                </tr>
            </table>



