{% extends "base.html" %}

{% block navbar %} 
        <li><a href="/login">Login</a></li>
{% endblock %}

{% csrf_token %}

{% block content %}

  <h2 align = "center">You have successfully registered! Justin Stolzenberg has to approve you and add to a department and a game. Please, click <a href="mailto:justin@gamesgroup.eu?subject=New User&body=A new User has registered in the knowledge management system, please approve him/her and add to a Department and a Game. Thank you.">here</a> to send him a notification about your registration.</h2>
  <h4 align = "center">Click <a href="/login">here</a> to go back to the login page</h4>

{% endblock %}